:root {
    // Ширина основного контейнера с контентом
    --container-width: 1600px;

    // Цвета
    --color-header-background: #ffffff;
    --color-background: #e6ebf2;

    --color-red: #cd3b3e;
    --color-white: #fefefe;
    --color-black: #000000;
    --color-gray: #ebecec;
    --color-gray-rgb: rgb(235,236,236);
    --color-gray-dark: #b7b8b8;
    
}

