.header {
    background-color: var(--color-header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);



}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0.75rem 1rem;
}

// Обменный курс
.exchangeRate {}

.logo {}

.rightCol {}

.search {}

.menu {}
